* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  min-width: 450px;
}

.requests-list {
  list-style-type: none;
  padding-left: 0;
}

.request-item {
  margin: 2.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px 2px #ddd;
}

.request-block {
  padding: 1rem;
  border-top: 1px solid #ccc;
}

  .request-block:first-child {
    border-top: none;
    display: flex;
    align-items: center;
  }

  .request-block > .id {
    width: 3rem;
    padding: 0.25rem 0;
    background: #000;
    color: #fff;
    text-align: center;
    margin-right: 1.5rem;
    border-radius: 0.25rem;
    font-size: 1.125rem;
  }

  .request-block > .method {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .request-block > .path {
    font-size: 1rem;
    flex-grow: 1;
    font-size: 1.5rem;
  }

  .request-block > .time {
    color: #777;
  }

  .request-block > .heading {
    font-weight: bold;
    font-size: 1.125rem;
  }

.block-list {
  list-style-type: none;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .block-list > .list-item {
    margin-top: 0.75rem;
    font-family: monospace;
    flex-basis: 47.5%;
  }

  .block-list > .list-item.-sans {
    font-family: sans-serif;
  }

.list-item > .name {
  font-weight: bold;
}

.body-content {
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow-x: auto;
  border: 1px solid #dddddd;
  /* Default colors */
  color: #444;
  background: #f4f4f4;
}

.body-content code {
  /* This is just for consistency with hljs default styles */
  display: block;
  padding: 0.5rem;
}

/* Override default highlight background */
.body-content .hljs {
  background: none;
}


@media (min-width: 900px) {
  .query-item, .header-item, .param-item {
    flex-basis: 32%;
  }
}