* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  min-width: 450px;
}

a {
  text-decoration: none;
  color: #26a;
}

.jumbo-section {
  padding: 1rem;
  margin: 1rem;
  background: #f4f4f4;
  border-radius: 0.5rem;
}


.input-group {
  display: flex;
  flex-direction: row;
}
  .input-group > .left {
    border-radius: 8px 0 0 8px;
  }
  .input-group > .right {
    border-radius: 0 8px 8px 0;
  }

  .input-group > .button {
    background: #000;
    font-size: 1.5rem;
    color: white;
    border: none;
    padding: 0.5rem 0.75rem;
  }

  .input-group > .button[disabled="disabled"] {
    background: #666;
    color: #ddd;
  }

  .input-group > .box {
    background: white;
    flex-grow: 1;
    max-width: 20rem;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

.top-bar {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}
  .top-bar > .message {
    flex-grow: 1;
    padding: 0.25rem;
    background: #eee;
    font-weight: bold;
    margin-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

.delete-button {
  background: #eb4335;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.requests-list {
  list-style-type: none;
  padding-left: 0;
}

.request-item {
  margin: 2.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px 2px #ddd;
}

.request-block {
  padding: 1rem;
  border-top: 1px solid #ccc;
}

  .request-block:first-child {
    border-top: none;
    display: flex;
    align-items: center;
  }

  .request-block > .id {
    width: 3rem;
    padding: 0.25rem 0;
    background: #000;
    color: #fff;
    text-align: center;
    margin-right: 1.5rem;
    border-radius: 0.25rem;
    font-size: 1.125rem;
  }

  .request-block > .method {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .request-block > .path {
    font-size: 1rem;
    flex-grow: 1;
    font-size: 1.5rem;
  }

  .request-block > .time {
    color: #777;
  }

  .request-block > .heading {
    font-weight: bold;
    font-size: 1.125rem;
  }

.block-list {
  list-style-type: none;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
}

  .block-list > .list-item {
    margin-top: 0.75rem;
    margin-right: 1rem;
    font-family: monospace;
    width: 45%;
  }

  .block-list > .list-item.-sans {
    font-family: sans-serif;
  }

.list-item > .name {
  font-weight: bold;
}

.body-content {
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow-x: auto;
  border: 1px solid #dddddd;
  /* Default colors */
  color: #444;
  background: #f4f4f4;
}

.body-content code {
  /* This is just for consistency with hljs default styles */
  display: block;
  padding: 0.5rem;
}

/* Override default highlight background */
.body-content .hljs {
  background: none;
}


@media (min-width: 900px) {
  .block-list > .list-item {
    width: 32%;
  }
}